/* #root
 * The root element of the page is the parent div container of the React app. To make the page component take up the
 * full height of the viewport, we have to add height: 100%; to all ancestor elements of the page component. */
#root {
  height: 100%;
}

/* kobs-home-item
 * The items on the home page are clickable, so we have to set the correct cursor style */
.kobs-home-item {
  cursor: pointer;
}

/* kobs-drawer-pagesection
 * When we use a PageSection component within a Drawer component, we have to explicit set the height of the PageSection
 * to 100%. */
.kobs-drawer-pagesection {
  min-height: 100%;
}

/* kobs-drawer-actions
 * Customize the drawer actions. For example we remove the padding from the action buttons, so that they are displayed
 * in one line with the drawer title. */
.kobs-drawer-actions button {
  padding: 0;
}

/* kobs-drawer-panel-body
 * Is used to modify the style of the drawer panel body. For example we have to set the maximum width for tabs used
 * within the drawer and apply some margin for the top and bottom of the tabs content. */
.kobs-drawer-panel-body .pf-c-tab-content {
  margin: 16px 0px;
  max-width: 100%;
  overflow-x: scroll;
}

/* kobsio-pagesection-toolbar
 * Is used to display the toolbar within a page section. For that we have to adjust the z-index, so that the toolbar is
 * always displayed above the other components. We also remove the bottom, because the padding is already applied by the
 * PageSection component.
 * We also remove the padding for the ToolbarContent component, so that the ToolbarItems are aligned with the other
 * content in the PageSection. */
.kobsio-pagesection-toolbar {
  padding-bottom: 0px;
  z-index: 300;
}

.kobsio-pagesection-toolbar .pf-c-toolbar__content {
  padding: 0px;
}
