:root > * {
  --md-primary-fg-color:        #326de6;
  --md-primary-fg-color--light: #326de6;
  --md-primary-fg-color--dark:  #326de6;
  --md-accent-fg-color:         #326de6;
  --md-primary-bg-color:        rgba(255, 255, 255, 0.95);
  --md-primary-bg-color--light: rgba(255, 255, 255, 0.95);

  --md-default-fg-color:           rgba(255, 255, 255, 0.95);
  --md-default-fg-color--light:    rgba(255, 255, 255, 0.95);
  --md-default-fg-color--lighter:  rgba(255, 255, 255, 0.95);
  --md-default-fg-color--lightest: rgba(255, 255, 255, 0.95);
  --md-default-bg-color:           #1b2635;
  --md-default-bg-color--light:    #1b2635;
  --md-default-bg-color--lighter:  #1b2635;
  --md-default-bg-color--lightest: #1b2635;

  --md-code-fg-color: rgba(255, 255, 255, 0.95);
  --md-code-bg-color: #233044;

  --md-footer-bg-color:          #233044;
  --md-footer-bg-color--dark:    #233044;
  --md-footer-fg-color:          rgba(255, 255, 255, 0.95);
  --md-footer-fg-color--light:   rgba(255, 255, 255, 0.95);
  --md-footer-fg-color--lighter: rgba(255, 255, 255, 0.95);

  --md-typeset-table-color:        rgba(255, 255, 255, 0.12);
  --md-typeset-table-color--light: rgba(255, 255, 255, 0.12);
}
