name: Test

on:
  push:
    paths-ignore:
      - '.github/**'
      - '.vscode/**'
      - 'deploy/**'
      - 'docs/**'
      - '.dockerignore'
      - '.editorconfig'
      - '.gitattributes'
      - '.gitignore'
      - 'CHANGELOG.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE'
      - 'mkdocs.yml'
      - 'README.md'

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Cache Node.js
        uses: actions/cache@v2
        with:
          path: |
            node_modules
            */node_modules
            */*/node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Cache Go
        uses: actions/cache@v2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: React UI
        run: |
          yarn install
          yarn lint
          yarn build

      - name: Download Dependencies
        run: |
          go mod download

      - name: Test
        run: |
          go test ./...

      - name: Build
        run: |
          make build
