name: Test

on:
  push:

jobs:
  test:
    name: Test
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14.x'

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15

      - name: React UI
        run: |
          cd ./app
          yarn lint
          yarn install
          yarn build

      - name: Download Dependencies
        run: |
          go mod download

      - name: Test
        run: |
          go test ./...

      - name: Build
        run: |
          make build
